/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add some padding for spacing */
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }

  .dashboard-text {
    font-size: 18px; /* Adjust the font size as needed */
    font-family: 'Inter', sans-serif; /* Replace 'YourFont' with the desired font family */
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Add some margin between icons */
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Add some margin between avatar and username */
  }
  